@import "tailwindcss"; 
@import "./palleteColors.css";

/*Estilo de componente de login con tailwind*/

.login-page {
  @apply flex items-center justify-center
  h-screen
  w-screen;
}

.login-container {
  @apply flex flex-col items-center justify-center 
  bg-PageLight-950
  text-PageLight-100
  rounded-lg shadow-lg
  p-12
  gap-8
  w-100;

}
.login-form {
  @apply w-full
  flex flex-col items-center
  border-1 border-PageLight-300
  rounded-lg
  p-6
  gap-4;
}

.login-group {
  @apply w-full
  flex flex-row items-start
  content-center
  gap-1;
}

.title-form {
  @apply text-2xl font-bold
  text-PageDark-900 pb-2
  ;
}

.input-form {
  @apply w-full
  px-2 py-1
  border border-PageLight-300
  rounded-md
  focus:outline-none focus:ring-2 focus:ring-PageGreen-500;
}

.btnSubmit-form {
  @apply
  bg-PageGreen-500
  text-white
  mt-5
  px-12
  py-1
  rounded-full
  hover:bg-PageGreen-800
  focus:outline-none focus:ring-2 focus:ring-PageGreen-500;
}
.link-text {
  @apply text-PageGreen-900
  cursor-pointer
  hover:text-PageGreen-300
  hover:underline
  focus:outline-none focus:ring-2 focus:ring-PageGreen-500;
}
.hr-form {
  @apply w-full border-t border-PageLight-300 mb-2;
}

.text-content {
  @apply text-base text-PageLight-300
  text-left
  ;
}

/* .subtitle-form {
  @apply text-lg 
  self-start pl-7 ;
} */

.subtitle-form {
  @apply text-2xl absolute left-15 top-5
  self-start px-2 ;
}

.text-tiny {
  @apply text-xs
  justify-self-start
  pb-1
  ;
}




